@import "tailwindcss";

@keyframes flipHorizontal {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.animate-flip {
  animation: flipHorizontal 1.2s ease-in-out;
}